.description{
    text-align: center;
    border: 3px solid red;
    padding: 23px;
    margin: 34px;
    width: auto;
    
    /*
 &__grid{
   
   padding: 12px;
   display: flex;
   flex-direction: column;
   margin: 12px;
   gap: 1rem;
   justify-content: space-between;
   align-items: center;
  

 }  
*/
 


&__title{
    text-align: center;
   
    
    
}
}


 .description{    
    width: auto;  
    


     &__paragraph{
      flex-shrink: 0;
      margin-left: 20px;
     
      font-size: 1.2rem;
      line-height: 20px;
      
  
     }
  
}

