/*=============== FOOTER ===============*/
.footer{
    &__copy{
        display: block;
        margin: auto;
        text-align: center;
        font-size: var(--smaller-font-size);
        color: var(--text-color-light);
    }
}